@font-face {
  font-family: "vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "vazirmatn";
  src: url("/assets/fonts/Vazirmatn-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "shabnam";
  src: url("/assets/fonts/Shabnam.woff");
  font-weight: normal;
}