// -colors
$primary-color: white;
$secondary-color: black;
$title-color: #505050;
$info-color: #767676;
$info-color-d: #C4C4C4;
$bg-font-color: #505050;
$bg-popular-merch: #ececec;
$bc-primary: #ff753a;
$bg-card-dark: #252525;
$bg-card-light: #eaeaea;
$article-dark: #202020;
//end

// -variebles
$mainfont: "vazirmatn";
$secondaryfont: "shabnam";
